// 定制样式
button
  font-size 13px
  margin 6px 8px
  padding 0 2px
  border none
  outline none
  border-radius 3px
  background-color #4596ec
  color white
  height 15px
  line-height 15px
  &[disabled]
    background-color gray

span
  margin 6px 8px
  